<section class="mobile-signup-wrapper">
  <div class="mobile-signup-container">
    <div id="mc_embed_shell">
  
      <div id="mc_embed_signup">
        <form action="https://vaportiser.us13.list-manage.com/subscribe/post?u=835e09bdb6f1f90b1fce22420&amp;id=41781d059f&amp;f_id=003321eaf0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate>
          <div id="mc_embed_signup_scroll">
            <h3>Get the latest vape news and tips in your inbox 📫</h3>
            
            <div class="mc-field-group">
              <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
              <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Johndoe@hotmail.com*" required>
            </div>

            <div class="mc-field-group">
              <label for="mce-FNAME">First Name</label>
              <input type="text" name="FNAME" class="text" id="mce-FNAME" placeholder="John">
            </div>

            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display: none;"></div>
              <div class="response" id="mce-success-response" style="display: none;"></div>
            </div>

            <div aria-hidden="true" style="position: absolute; left: -5000px;">
              <input type="text" name="b_835e09bdb6f1f90b1fce22420_41781d059f" tabindex="-1" value="">
            </div>

            <div class="clear">
              <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
            </div>
          </div>
        </form>
      </div>

      <!-- Success Modal -->
      <div id="successModal" class="modal" style="display: none;">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2>🎉 Thank you!</h2>
          <p>You're now subscribed to Vaportiser News.</p>
        </div>
      </div>

    </div>
  </div>
</section>
